@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  /* --color-primary: #5f6fff; */
  --color-primary: #10B981;
}

.active hr {
  display: block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px){
  .active p{
    @apply text-white bg-primary
  }
}